<a href='https://ai.meng.duke.edu'> = <img align="left" style="padding-top:10px;" src=https://storage.googleapis.com/aipi_datasets/Duke-AIPI-Logo.png>

# SQLite In-Class Exercise

In [ ]:
import sqlite3 as db
import pandas as pd
import numpy as np

In [ ]:
# Connect to a database (or create one if it doesn't exist)
conn = db.connect('example.db')

# Create a 'cursor' for executing commands
c = conn.cursor()

# First check if the table already exists and if so we will delete it
c.execute("DROP TABLE IF EXISTS Students")

# Create a table named "Students" with 3 columns: "duke_id" (string), "name" (string), "grad_year" (integer).
c.execute("CREATE TABLE Students (duke_id INTEGER PRIMARY KEY, name TEXT, grad_year INTEGER)")

# Commands to add data to our table
c.execute("INSERT INTO Students VALUES ('121', 'Reifschneider', 2025)")
c.execute("INSERT INTO Students VALUES ('225', 'Egger', 2023)")
c.execute("INSERT INTO Students VALUES ('767', 'Lin', 2022)")
c.execute("INSERT INTO Students VALUES ('988', 'Saha', 2022)")

# Commit the changes (make them permanent in the datbase)
conn.commit()

# List of items to add
more_students = [('734', 'Fox', 2025),
                 ('878', 'Lenz', 2023),
                 ('267', 'Glass', 2023)]

# '?' question marks are placeholders for the columns in Students table
c.executemany('INSERT INTO Students VALUES (?, ?, ?)', more_students)
conn.commit()

# Create Classes table
c.execute('DROP TABLE IF EXISTS Classes')
c.execute('CREATE TABLE Classes (duke_id INTEGER, course TEXT, grade REAL, PRIMARY KEY("duke_id","course"))')

students = [('121','AIPI 510',3.7),
            ('121','AIPI 520',4.0),
            ('121','AIPI 530',3.3),
            ('225','AIPI 510',4.0),
            ('225','AIPI 520',3.3),
            ('767','MENG 570',3.0),
            ('767','AIPI 510',4.0),
            ('988','MENG 570',4.0),
            ('988','AIPI 510',3.7),
            ('734','AIPI 510',4.0),
            ('734','AIPI 520',4.0),
            ('878','AIPI 510',3.0),
            ('878','AIPI 520',4.0)]

c.executemany('INSERT INTO Classes VALUES (?,?,?)',students)
conn.commit()

# Displays the results of your code
c.execute('SELECT * FROM Classes')
results = c.fetchall()
print("Your results:", len(results), "\nThe entries of Classes:", results)

# Create dataframe of students' major
majors_dict={'duke_id':['225','734','767','878','121','267'],
             'major':['Biology','Finance','CS','AI','CS','Biology']}
majors = pd.DataFrame(majors_dict)

# Create table Majors from dataframe in example.db
conn = db.connect('example.db')
c = conn.cursor()
c.execute("DROP TABLE IF EXISTS Majors")
majors.to_sql(name='Majors',con=conn,index=False)

## Practice problems
### Question 1
Complete the below function to calculate the average GPA for students from each major.  The function should return a list of tuples containing the major and corresponding average gpa

In [ ]:
def avg_gpa_by_major(db_name):  
    '''
    Calculates the average GPA for students from each major

    Inputs:
        db_name(str): name of the database

    Returns:
        results(list): list of tuples each containing the major (str) and the average GPA (float)
    '''
    ### BEGIN SOLUTION ###
    
    
    ### END SOLUTION ###

In [ ]:
# Run function
gpas = avg_gpa_by_major('example.db')
assert len(gpas) == 4
assert len(gpas[0]) == 2
gpas

### Question 2
Complete the function below which returns a **pandas dataframe** containing the Duke ID (as the index), name, graduation year, major (or None if not declared), and GPA of all students who have taken classes.

In [ ]:
def all_students(db_name):
    '''
    Queries database to create a dataframe containing name, graduation, major and GPA of all students who have taken 1+ classes

    Inputs:
        db_name(str): name of database

    Returns:
        df(DataFrame): dataframe containing student names as index and their graduation year, major and GPA as columns
    '''
    ### BEGIN SOLUTION ###
    
    
    ### END SOLUTION ###

In [ ]:
# Run function
students_table = all_students('example.db')
assert students_table.shape == (6,4)
students_table

### Question 3
Complete the below function to create a pandas dataframe where the index values are the courses, the columns are the majors, and the cells show the number of students from each major in each course.  Your output should look like this:  
<img align="left" style="padding-top:10px;" src=Q3.png>

In [ ]:
def majors_per_course(db_name):  
    '''
    Query the database to build a dataframe containing the number of students from each major in each course

    Inputs:
        db_name(str): name of the database

    Returns:
        df(DataFrame): dataframe with courses as index values and majors as the columns which contains the count of each major in each course
    '''
    ### BEGIN SOLUTION ###
    
    
    ### END SOLUTION ###

In [ ]:
table = majors_per_course('example.db')
display(table)
assert table.shape == (4,4)